/* main container style*/
.usercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
/* header styles */
.header {
  background-color: #f6f6f6;
  padding: 1.5em 2em;
  width: 100%;
  border-bottom: 2px solid #6d6ef6;
  box-shadow: 1px 1px 5px 2px #f0f0fd;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}
.header button {
  padding: 0.7em;
  font-size: 1.2rem;
  border: 1px solid #f0f0fd;
  color: white;
  background-color: #6d6ef6;
  letter-spacing: 2px;
}
.header button:hover {
  opacity: 0.95;
  cursor: pointer;
}
/* Style of userlist */

.describe {
  padding: 1.1em;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 2em;
  border-bottom: 2px solid #6d6ef6;
}

.userlist {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  max-width: 1476px;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}
.userlist li {
  margin: 6px;
}

/* last list's element position */

@media screen and (min-width: 1476px) {
  .userlist li:last-child {
    margin-right: auto;
  }
}

/* basic mobile design */

@media screen and (max-width: 430px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    text-align: center;
  }
  .header button {
    margin-top: 1em;
    padding: 0.5em;
  }
  .describe {
    padding: 0.5em;
    font-size: 1.5rem;
    margin: 1.5em;
  }
  .userlist {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .userlist li {
    width: 100%;
    margin: 6px 0px;
  }
}
