// COLORS
$wrapper-background-color: #e5e5e5;
$box-background-color: #FFFFFF;

$border-main-color: #e6e6f8;

$tag-primary-background-color: #ecfdf5;
$tag-primary-text-color: #065f46;
$tag-secondary-background-color: #f6f6f6;
$tag-secondary-text-color: #303030;

$primary-text-color: #303030;
$secondary-text-color: #888888;

$footer-section-background-color: #6d6ef6;
$footer-section-text-color: #ffffff;
