@use '../../../styles/scss/variables' as *;

.imagesContainer {
  width: 100%;
  height: 52px;
  display: flex;
}

.imageLink {
  flex: 1 0;
  height: 100%;
  background: $accent-color;
  color: $white;
  border: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    border-radius: 0 0 0 16px;
  }

  &:last-child {
    border-radius: 0 0 16px 0;
  }
}

.divider {
  height: 100%;
  width: 1px;
  background: $white;
}
