// main
$primary-text-color: #303030;
$accent-color: #6d6ef6;
$primary-background-color: #f0f0fd;
$border: 1px solid #e6e6f8;
$box-shadow: 0px 8px 16px 0px #30303029;
$border-radius: 16px;

// colors
$yellow: hsl(45, 97%, 61%);
$black: hsl(0, 0%, 15%);
$white: hsl(0, 0%, 100%);
$gray: hsl(0, 0%, 53%);
